.back {
    background-color : rgb(209,139,60);
    border-radius: 5%;
    width: 500px;
    height: 600px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .in{
    margin: 0 auto;
    background-color : rgb(252,221,167);
    border-radius: 5%;
    width: 450px;
    height: 500px;
    overflow-y: scroll;
  }



.in::-webkit-scrollbar{
  width: 6px;
}

/* 스크롤바 막대 설정*/
.in::-webkit-scrollbar-thumb{
  height: 17%;
  background-color: rgb(108, 78, 55);
  border-radius: 10px;  
}

/* 스크롤바 뒷 배경 설정*/
.in::-webkit-scrollbar-track{
  background-color: rgba(226,160,110, 0.3);
}


.backin{
    overflow-y: scroll;
}

.backin::-webkit-scrollbar{
  width: 6px;
}

/* 스크롤바 막대 설정*/
.backin::-webkit-scrollbar-thumb{
  height: 10%;
  background-color: rgb(108, 78, 55);
  border-radius: 10px;  
}

/* 스크롤바 뒷 배경 설정*/
.backin::-webkit-scrollbar-track{
  background-color: rgba(226,160,110, 0.3);
}


.backblock{
  background-color: rgb(226,160,110);
  position: fixed;

}

.chatting{
  z-index: -1;
  position: fixed;
  background: rgb(220, 160, 110);
  left: 0;
  width: 100%;
  height: 93%;
  padding: 0 10%;
}



.sickbang{
  height:600px;
  margin-top:30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test11{
  position: absolute;
  top: 20px;
}

.banner{
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.mbticontent{
  text-align: center;
}