.abc {
  margin-top: 10px;
  text-align: center;
}

.name_t {
  float: left;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.header {
  height: 70px;
  background: #ccc;
}

.footer {
  position: absolute;
  top: 800px;
  width: 100%;
  height: 100px;
  background: #ccc;
}

.container.bun {
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 32px;
}

.container.container_padding {
  padding: 0px;
  padding-left: 20px;
}
.container {
  background-color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box1 {
  background-size: cover;
  background-position: center;
}

.box2 {
  background-color: #ffffff;
}

.box3 {
  background-color: #ffffff;
}
.box4 {
  background-color: #ffffff;
}
.box5 {
  background-color: #ffffff;
}
.box6 {
  background-color: lightpink;
}
.box7 {
  background: rgb(251, 235, 235);
}

.logoBox {
  margin-bottom: 20;
}

.cardBox {
  margin-top: 20;
}
