.analytic{
    background-color: rgb(231, 223, 234);
    height: 100%;
    padding: 200px 0 200px 0;
    text-align: center;
}

.diplomatic{
    background-color: rgb(214,236,227);
    height: 100%;
    padding: 200px 0 200px 0;
    text-align: center;
}

.manager{
    background-color: rgb(217, 234, 240);
    height: 100%;
    padding: 200px 0 200px 0;
    text-align: center;
}

.explorer{
    background-color: rgb(255, 234, 187);
    height: 100%;
    padding: 200px 0 200px 0;
    text-align: center;
}


.abcc{
    display: inline-block;
    width: 20%;
    border-width: 3px;
}

.abcc2{
    display: inline-block;
    width: 70%;
    border-width: 3px;
}

.analytic_imgback1{
    background-color: rgb(231, 223, 234);
}

.diplomatic_imgback1{
    background-color: rgb(214,236,227);
}

.manager_imgback1{
    background-color: rgb(217, 234, 240);
}

.explorer_imgback1{
    background-color: rgb(255, 234, 187);
}

.imgcenter{
    text-align: center;
}

.title{
    font-size: 100px;
    color: white;
    margin-bottom: 100px;
}

.stitle{
    font-size: 50px;
    color: rgb(0, 0, 0);
    /* margin-bottom: 100px; */
}

/*설명*/
.explanation{
    font-size: 25px;
    color: rgb(161, 161, 161);
    margin-bottom: 100px;
}