* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
/* a {
  text-decoration: none;
  color: inherit;
} */
.menu-box {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  justify-items: flex-start;
  align-items: flex-start; 
}
.menu {
  display: flex;
  flex-direction: row;
  /* flex-grow:1; */
}

.menu > li {
  position: relative;
  flex-basis: 20%;
  line-height: 50px;
  text-align: center;
  background: #ffffff; /*각 메뉴칸 색*/
}
.menu li a {
  display: block;
  width: 100%;
  height: 100%;
}
.menu > li:hover a {
  text-align: center;
  background: rgb(251, 235, 235);
}
.menu > li:hover .sub {
  display: block;
}

span{
  padding: 10px;
}

.menucolor > span:hover {
  text-align: center;
  background-color: rgb(252,221,167);
  border-radius: 10px;
  box-shadow: 3px -3px 0px rgb(226,160,110);
}


.menucolor > span:hover > a{
  color: rgb(218,141,111) !important;
}


.sub {
  position: absolute;
  top: 50px;
  width: 100%;
  border: 1px solid #000;
  display: none;
  box-sizing: border-box;
}
.sub li {
  width: 100%;
  line-height: 50px;
}

.menusize{
  margin-top: 10px;
}

.ss{
  font-size: 0.9vw;
}

.slogo{
  font-size: 2.5vw;
}

.show-menu{
  width: 376px;
  height: 500px;
  position: absolute;
  left: 0px;
  transition: 1s;
  }
  
  .hide-menu{
  width: 376px;
  height: 500px;
  position: absolute;
  left: -376px;
  transition: 1s;
  }

  .navBox{ 
    display:flex; 
    justify-content: space-between; 
    align-items: center; 
    font-weight: bold; 
    font-family: 'NEXON Lv2 Gothic Bold'; 
    font-size:1.5em; 
    margin:5px; 
  } 

  .iconBtn{ 
    width:35px; 
    cursor:pointer; 
  }

  .menuWrap { 
    position: fixed; 
    top: 0; 
    right: -300px; 
    z-index: 400; 
    width: 300px; 
    height: 100%; 
    padding: 50px 20px; 
    box-sizing: border-box; 
    transition: right 0.3s ease-in-out; 
    background-color: #f0f0f0; } 
    
  .menuBtn { 
    width: 35px; 
    z-index: 401; 
    transition: all 0.3s ease-in-out; 
    cursor: pointer; 
  }


  /* 다른 코드 */
  
.sidebar {
    width:60vw;
    height:100%;
    background:rgba(255, 255, 255);
    position:fixed;
    top:0;
    right: 0;
    z-index:1;
    transition:all .35s;

  }



.menuicon > label{z-index:2;}
.menuicon > label span {background:#fff;}
.menuicon > label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);}
.menuicon > label span:nth-child(2) {opacity:0;}
.menuicon > label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);}
.menuicon > label div{left:0;}

.tee{
  color: red;
}

.emphasized {
  position: fixed;
    width:60vw;
    height: 100vh;
    top: 0;
    right: 0;
    box-shadow: rgb(0 0 0 / 50%) 0 0 0 9999px;
    z-index: 100;
    background-color: #fff;
  }

.st{
  text-align: left;
  margin-left: 15px;
}

.mm{
  margin-top: 35px;
}

.m1{
  margin-top: 20px;
}


.profile
{
  margin-left: 20px;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%; /*둥그런 원으로 만들기 위함*/
  overflow: hidden;
}
.profile img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bb{
  margin: 0 auto;
  border: 0;
  background: none;
}

.menuborder{
  padding: 30px 0;
  /* background-color: rgb(251, 235, 235); */
  background-color: rgb(255, 224, 190);
  /* rgb(255, 213, 170) */
  display: block;
  height: auto;
}