Img {
  object-fit: cover;
  width: 100%;
}

ImgArea {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.att_zone {
  width: 660px;
  min-height: 150px;
  padding: 10px;
  border: 1px dotted #00f;
}

.att_zone:empty:before {
  content: attr(data-placeholder);
  color: #999;
  font-size: .9em;
}